<style type="text/css">
/* hero-carousel
------------------------- */

.hero-carousel {
  margin-bottom: 80px;
  background: #FAFAFA url('https://i.imgur.com/R60qKwS.jpg');
  background-size: cover;
}

.hero-carousel__cell {
  width: 100%;
  height: 540px;
  color: white;
  background: #ED2;
  background: #EFCE36; /* match gif */
}

.hero-carousel__cell__content {
  padding: 20px 60px 0;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(10px);
}

.hero-carousel h1 {
  font-size: 3.2rem;
  line-height: 1.0;
  margin: 0;
  padding-top: 40px;
}

.hero-carousel .tagline {
  font-size: 1.4rem;
  line-height: 1.0;
  margin: 0 0 0.5rem;
  color: #444;
}

.hero-illustration {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.hero-carousel__cell--2 {
  background: #8C8;
}

.slogan {
  line-height: 1.2;
  margin: 0;
}

.slogan--easy,
.slogan--fun {
  font-size: 2.2rem;
  line-height: 1.1;
}

.slogan--tagline {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #444;
}

.feature-list {
  font-size: 1.8rem;
  list-style: none;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.feature-list li {
  margin-bottom: 10px;
}

.hero-carousel__cell--3 {
  background: #E90;
}

.hero-carousel__cell--4 {
  background: #E5A;
}

.by-line {
  line-height: 1.2;
  margin: 0;
  font-size: 1.8rem;
}

.by-line--made {
  padding-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

@media screen and ( max-width: 500px ) {
  /* hide first cell content on small devices */
  .hero-carousel h1,
  .hero-carousel .tagline,
  .hero-carousel .gh-button {
    display: none;
  }

}

@media screen and ( min-width: 500px ) {
  .hero-carousel__cell--1  .hero-carousel__cell__content {
    padding-right: 260px;
  }

  .hero-illustration {
    position: absolute;
    right: 60px;
    top: 20px;
  }
}

/* ---- large device styles ---- */

@media screen and ( min-width: 768px ) {

  .hero-carousel__cell {
    height: 740px;
  }

  .hero-carousel__cell__content {
    padding-top: 40px;
  }

  .hero-carousel h1 {
    font-size: 5.8rem;
  }

  .hero-carousel .tagline {
    font-size: 2.1rem;
  }

  .hero-illustration {
    top: 80px;
  }

  .slogan--easy,
  .slogan--fun {
    font-size: 2.8rem;
  }

  .slogan--tagline {
    margin-top: 20px;
    font-size: 1.4rem;
  }

  .feature-list {
    font-size: 3.1rem;
  }

  .feature-list li {
    margin-bottom: 20px;
  }

  .by-line {
    font-size: 3.1rem;
  }

  .by-line--made {
    padding-top: 40px;
    margin-bottom: 20px;
  }

}

@media screen and ( min-width: 960px ) {

  .hero-carousel__cell--1  .hero-carousel__cell__content {
    padding-right: 400px;
  }

  .hero-carousel h1 {
    font-size: 7.8rem;
  }

  .hero-carousel .tagline {
    margin-bottom: 1.0rem;
  }

  .hero-illustration {
    max-width: 400px;
    top: 20px
  }

}

/* in-use-carousel
------------------------- */

.in-use-carousel {
}

.in-use-carousel__item {
  width: 400px;
  height: 450px;
  display: block;
  position: relative;
  margin-right: 40px;
  border-radius: 5px;
}

.in-use-carousel__item__title {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: 0;
  line-height: 50px;
}

.in-use-carousel__item__image {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  transition: opacity 0.4s;
  opacity: 0;
}

/* fade in image when loaded */
.in-use-carousel__item__image.flickity-lazyloaded,
.in-use-carousel__item__image.flickity-lazyerror {
  opacity: 1;
}

/* page-nav
------------------------- */

.page-nav {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 10px 0 0;
  font-size: 0.85rem;
  line-height: 1.2;
}

.page-nav li {
  margin: 0.2rem 0;
}

.page-nav__item--h3,
.page-nav__item--h4 {
  padding-left: 15px;
}

@media screen and ( min-width: 1220px ) {
  .page-nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    padding-top: 20px;
  }

  /* activate sticky */
  .page-nav:after {
    content: 'sticky';
    display: none;
  }

  .page-nav.is-fixed {
    position: fixed;
  }

}

.hero-carousel .first {
  background-color: #bcf35a;
}

.hero-carousel .second {
  	background-color: #FFDA41;
  }

  .hero-carousel .third {
  	background-color: rgba(255, 68, 0, 1);
  }
</style>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<div class="hero-carousel" data-flickity="" data-js="hero-carousel">

	<div class="hero-carousel__cell hero-carousel__cell--2 first">
      <div class="hero-carousel__cell__content">
        <p class="slogan slogan--easy">Connect with 20 Rishtas in a single event</p>
        <p class="slogan slogan--tagline">Finding the right partner is a numbers game. You’ll encounter many frogs before you meet your prince. Laddu events facilitate you to meet a large number of suitors in a short period of time.</p>
      </div>
    </div>

    <div class="hero-carousel__cell hero-carousel__cell--2 fifth">
      <div class="hero-carousel__cell__content">
        <p class="slogan slogan--easy">Reclaim the Trolley-pushing Toxic Rishta Culture</p>
        <p class="slogan slogan--tagline">We find rishta meet-ups where women have to awkwardly serve tea archaic and dehumanizing. Allow us to serve the tea, you ask the pertinent questions.</p>
      </div>
    </div>

    <div class="hero-carousel__cell hero-carousel__cell--2 second">
      <div class="hero-carousel__cell__content">
        <p class="slogan slogan--easy">An Efficient Way of Connecting</p>
        <p class="slogan slogan--tagline">Imagine hosting 20 dinners for 20 rishtas and not liking a single one of them. The whole ordeal can be utterly exhausting, especially for women who traditionally host the men. Our events take away the pressure of hosting and allow you to connect you with potential partners in a more time-efficient and dignified manner.</p>
      </div>
    </div>

    <div class="hero-carousel__cell hero-carousel__cell--2 third">
      <div class="hero-carousel__cell__content">
        <p class="slogan slogan--easy">Meet Pre-Vetted People</p>
        <p class="slogan slogan--tagline">Meeting people in real-life, as opposed to meeting them online, affords a better opportunity to gauge compatibility.</p>
      </div>
    </div>

    <div class="hero-carousel__cell hero-carousel__cell--2 fourth">
      <div class="hero-carousel__cell__content">
        <p class="slogan slogan--easy">No more Ghosting</p>
        <p class="slogan slogan--tagline">Immediately after the event we will email you your matches and facilitate further interactions, thereby ensuring that no one gets ghosted. With us, you will never be placed in limbo endlessly wondering whether or not a suitor likes you.</p>
      </div>
    </div>

    <div class="hero-carousel__cell hero-carousel__cell--2 sixth">
      <div class="hero-carousel__cell__content">
        <p class="slogan slogan--easy">Connect better</p>
        <p class="slogan slogan--tagline">Meeting people in real-life, versus meeting them online, affords you a better opportunity to gauge your compatibility.</p>
      </div>
    </div>

</div>

<script type="text/javascript">
	var elem = document.querySelector('.hero-carousel');
	var flkty = new Flickity( elem, {
	  // options
    wrapAround: true,
    autoPlay: true,
	  cellAlign: 'left',
	  contain: true
	});

</script>