<div class="jumbotron pv5 pv6-l ph3 bg-center cover cf" style="background-image: url('{{.imageUrl}}')">
  
  <div class="jumbotron-content">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f2-l b di lh-title mb3 white mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
      {{ if .subtitle }}
      <div class="tc mt-5">
        <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTTVfdL73PYou7IRVtopgbTGRPzCNyTvMJAa8mgLkL1-QsCg/viewform?usp=sf_link" target="_blank" class="btn raise sign-up-btn">Join now</a> -->
        <a href="#" tabindex="1" class="btn raise sign-up-btn">Signup for Free</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>