<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<style type="text/css">
	.icons-container > .icon-box > .img-container {
		width: 130px;
	    height: 130px;
	    border-radius: 65px;
		background-color: #ddd;
		transition: 0.2s linear all;
		border: 3px solid #fff;
		overflow: hidden;
		position: relative;
	}

	.icons-container > .icon-box:hover > .img-container {
		/*background-color: rgba(255, 68, 0, 1);*/
		background-color: #fff;
		border: 3px solid rgba(255, 68, 0, 1);
	}

	.icons-container > .icon-box > .img-container > i {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-size: 3em;
	}


	.icons-container > .icon-box hr {
		width: 70%;
		text-align: center;
		margikn-left: auto;
		margin-right: auto;
		/*border-color: rgba(255, 68, 0, 1);*/
	}

	.icons-container > .icon-box > .img-container > img {
		max-width: 100px;
	}

	.icons-container > .icon-box:hover a.btn {
		background-color: rgba(255, 68, 0, 0.9);
		color: white;
	}

	.icons-container > .icon-box a.btn {
		/*transition:;*/
	}

/*	.icons-container > .icon-box a.btn:hover {
		background-color: rgba(255, 219, 41, 0.9);
		border-color: rgba(255, 219, 41, 0.9);
	}*/

	.icons-container p {
		padding: 0 5px;
		/*min-height: 231px;*/
	}

</style>

<div class="bg-off-white pv4 cf">

	<div class="icons-container mw7 center">
	{{ range $index, $element := .icons }}
		{{ partial "icon-box" $element}}
	{{ end }}
	
	</div>
</div>