<style type="text/css">
	.event-image {
		border-radius: 50% !important;
	    width: 300px;
	    height: 300px;
	    object-fit: cover;
	}

	.spots-container {
		display: inline-block;
	    text-align: left;
	    position: relative;
	}

	.spots-container > img {
		width: 25px;
	    height: 25px;
	    object-fit: contain;
	    position: relative;
	    top: 5px;
	}

	.spots-container > span {
		position: relative;
		left: -3px;
	}

	.remaining-spots > span:first-of-type {
		display: block;
	}

	.rounded-box {
		padding: 0px 10px;
	    background-color: #fff;
	    border: 2px solid #ddd;
	    border-radius: 10px;
	}

	.rounded-box.spots-filled {
		border: 2px solid rgba(255, 68, 0, 0.9) !important;
		color: rgba(255, 68, 0, 0.9) !important;
	}

	.spots-filled-container {
		color: rgba(255, 68, 0, 1) !important;	
	}
	.spots-filled-container > a {
		color: rgba(255, 68, 0, 0.9) !important;
		font-weight: bold;
		transition: 0.4s linear all;
		text-decoration: none;
		border-bottom: 1px solid rgba(255, 68, 0, 0.4);
	}

	.spots-filled-container > a:hover {
		border-bottom: 2px solid rgba(255, 68, 0, 1);	
	}

	.rounded-box > i {
		padding: 0 2px;
		font-size: 1.2em;
	    position: relative;
	    top: 2px;
	}

	.btn.orange {
		background-color: rgba(255, 68, 0, 0.9) !important;
		color: white !important;
	}

	.next-event .btn.orange {
		/*font-size: 1em;*/
	}

	.details-block > h3 {
    	font-weight: bold;
	    font-size: 1.3em;
	    margin-bottom: 10px;
	}

	.details-block > .date {
		font-weight: bold;
	    font-size: 2em;
	    color: #fff;
	    text-shadow: 4px 4px #aaa;
	}

	.details-block > .month, .details-block > .year {

	}

	.next-event .sign-up-btn {
		text-transform: initial;
	}
</style>

<div class="bg-grey-1 pv4 next-event">
  <div class="flex-l mhn1-l ph3 center mw7">
    <div class="w-30-l mb0 tc tl-l">
    	<img class="event-image" src="{{.image}}">
    	<div class="event-image-container">
    		
    	</div>
    </div>
    <div class="w-30-l details-block ph3 tc tr-l">
    	<h3>{{.locality}}<br>
    	{{.city}}</h3>
    	<input type="hidden" name="eventDate" value="{{.date}}" />
    	<input type="hidden" name="auto" value="{{.auto}}" />
    	<span class="date"></span>&nbsp;
    	<span class="month"></span>
    	<br>
    	<span class="year"></span>
    	<br>
    	<a href="#" class="btn sign-up sign-up-btn orange raise mb4">Sign up</a>
    </div>
    <div class="w-30-l ph3 tc tr-l">
    	<div class="remaining-spots mb2">
    		<span>Remaining spots:</span>	

    		<span class="spots-container rounded-box" aria-label="Males" data-balloon-pos="down">
				<i class="fas fa-mars"></i>
	    		<span>{{.spots.males}}</span>	
	    	</span>
	    	
	    	<span class="spots-container rounded-box" aria-label="Females" data-balloon-pos="down">
		    	<i class="fas fa-venus"></i>
		    	<span>{{.spots.females}}</span>
	    	</span>

	    	<div class="spots-filled-container dn">
	    		<a href="#" class="sign-up-btn">Sign-up </a> for a spot on the waiting list<br class="dn-l"> or join <a href="#" class="sign-up-btn">upcoming events</a>
	    	</div>
	    	
    	</div>

    	<div class="time mb2">
    		<span class="db">Time:</span>
    		<span class="rounded-box">
    			{{.duration}}
    		</span>
    	</div>

    	<div class="age-range mb2">
    		<span class="db">Age range:</span>
    		<span class="rounded-box">
    			{{.age}}
    		</span>
    	</div>

    	<div class="price mb2">
    		<span class="db">Price (Rs):</span>
    		<span class="rounded-box">
    			{{.price}}
    		</span>
    	</div>



    </div>
  </div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function(event){

		// Initializing tooltips
		// var elems = document.querySelectorAll('.tooltipped');
  //   	var instances = M.Tooltip.init(elems, options);


		// Render event date
		var eventDate = new Date(document.querySelector('.details-block > input[name="eventDate"]').value);

		renderEventDate(eventDate);

		function renderEventDate(dateObj){
			let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

			// Ternary conditional, Changes 7 to "07", if current date is a single-digit number
			document.querySelector('.details-block > .date').textContent = ( dateObj.getDate().toString().length === 1 ? "0" + dateObj.getDate() : dateObj.getDate() );
			document.querySelector('.details-block > .month').textContent = months[dateObj.getMonth()];
			document.querySelector('.details-block > .year').textContent = `${dateObj.getFullYear()} (${days[dateObj.getDay() - 1]})`;
		}

		// If 0 spots remain, the visual formatting classes are added
		document.querySelectorAll('.spots-container').forEach(function(node){
			if(Number(node.querySelector('span').textContent) === 0){
				node.classList.add('spots-filled');
				document.querySelector('.spots-filled-container').classList.remove('dn')
			}
		})
	})
</script>