{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>
<style type="text/css">

	.image-container {
		position: relative;
		text-align: center;
		height: 160px;
		overflow: hidden;
		
	}

	.image-container > img {
		height: 200px;
		margin: 0 auto;
	}

	@media (min-width: 800px) {
		.image-container {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	@media (max-width: 800px) {
		.lh-title {
			text-align: center;
		}
		.lh-title + p {
			/*text-align: justify-all;*/
		}
		.image-container {
			height: 80px;
		}

		.image-container > img {
			height: 100px;
		}
	}

</style>

{{ end }}