{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>
<style type="text/css">
	.ph3-m.w-50-m > img {

	}

	.image-container {
		position: relative;
		text-align: center;
		height: 160px;
		overflow: hidden;
		top: 50%;
		transform: translateY(-50%);
	}

	.image-container > img {
		height: 200px;
		margin: 0 auto;
	}
</style>

{{ end }}

