{{ define "main" }}

{{ partial "home-jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "icons" .Params }}

{{ partial "next-event" .Params.event }}

{{ partial "short-text" .Params.blurb}}


{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

<!-- {{ partial "blog" . }} -->

{{ partial "carousel" .Params }}

{{ partial "instagram" }}

{{ end }}